*{
    margin: 0;
    padding: 0%;
}

.fondo_Inicio{
    background-image: url(../img/fondo_arveo.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.fondo_Conocenos{
    background-image: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo_Productos{
    background-image: url(../img/GE-fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}